.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #222;
  height: 5vh;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 2em;
  text-align: left;
  padding-top: 7px;
}
/*******menu container********/
.menu_container{
  text-align: left;
}
/******menu icon*******/
.menu_icon {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;

}
/***** the side navigation menu ******/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

/*****the navigation menu content*****/
.sidenav a {

    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav button {
    background-color: #111111;
    border: none;
    color: white;
    cursor: pointer;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    width: 100%;
    transition: 0.3s;
    text-align: left;
}

.sidenav button:hover {
    color:white;
    background-color: #4f4e4e;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
/******search****/
#mySearch {
  width: 100%;
  font-size: 18px;
  padding: 11px;
  border:1px solid #ddd;
}

#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myMenu li a {
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myMenu li a:hover {
  background-color: #eee;
}
